*,
*:before,
*:after {
	margin: 0;
	display: 0;
	box-sizing: border-box;
}

:root {
	--clr-accent-500: #ff9b62;
	--clr-accent-900: #f16718;

	--clr-primary-500: #7b8bad;
	--clr-primary-900: #162542;

	--clr-neutral-100: #ffffff;
	--clr-neutral-500: #e8eff2;

	--fw-500: 500;
	--fw-700: 700;
	--fw-900: 900;

	--transition: all 0.5s ease;
}

/* General Styles */

html {
	background-color: var(--clr-neutral-100);
}

body {
	font-family: 'Barlow', sans-serif;
	font-weight: var(--fw-500);
	color: var(--clr-primary-500);
	font-size: 1rem;
	line-height: 1.6;
	text-align: left;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

.wrapper {
	width: min(95vw, 1110px);
	margin: 0 auto;
	/* padding-inline: 1.5em; */
}

/* Typography */
h1,
h2,
h3 {
	color: var(--clr-primary-900);
	font-weight: var(--fw-900);
	text-transform: uppercase;
}

h1 {
	font-size: 3rem;
	font-size: clamp(3rem, 2.75rem + 1.09vw, 3.5rem);
	line-height: 1;
	margin-bottom: 2rem;
}

h2 {
	font-size: 2rem;
	line-height: 1.12;
	margin-bottom: 1.5rem;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.16;
}

.option h3 {
	margin-bottom: 1.5rem;
}

.option p {
	margin-top: 1rem;
}

a {
	text-decoration: none;
}

@media (max-width: 20em) {
	h1 {
		font-size: 2.5rem;
	}
}

@media (min-width: 70em) {
	h1 {
		margin-bottom: 1.5rem;
	}
}

/* Header */

header {
	padding-block: 1.5em 4em;
}

@media (min-width: 40em) {
	header {
		padding-block-end: 3.75em;
	}
}

.image-container {
	border-radius: 20px;
	max-height: 480px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.img {
	height: 100%;
	width: 100%;
}

.product-exhibit {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 24px;
}

.product-text-hero {
	grid-column: 1/-1;
}

.product-image-hero {
	grid-column: 1/-1;
}

.product-image-coloured {
	grid-column: 1/5;
}

.product-image-large {
	grid-column: 5/-1;
}

.product-text-info {
	grid-column: 1/-1;
}

.cta {
	margin-block-start: 2em;
}

@media (min-width: 40em) {
	.cta {
		margin-block-start: 2em;
	}

	.product-exhibit {
		column-gap: 40px;
		row-gap: 30px;
	}

	.product-text-hero {
		grid-column: 1/7;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.product-image-hero {
		grid-column: 8/-1;
		height: 425px;
	}

	.product-image-coloured {
		grid-column: 1/5;
		height: 320px;
	}

	.product-image-large {
		grid-column: 5/-1;
		height: 320px;
	}

	.product-text-info {
		display: flex;
		align-items: center;
		gap: 36px;
    padding-top: 42px;
	}

	.product-text-info h2 {
		margin-bottom: unset;
	}
}

@media (min-width: 60em) {
	.product-exhibit {
		gap: 30px;
	}

	.product-text-hero {
		grid-column: 1/6;
	}

	.image-container {
		height: 480px;
	}

	.product-image-hero {
		grid-column: 7/-1;
	}

	.product-image-coloured {
		grid-column: 1/4;
	}

	.product-image-large {
		grid-column: 4/9;
	}

	.product-text-info {
		grid-column: 10/-1;
		flex-direction: column;
		justify-content: center;
	}

	.product-text-info h2 {
		margin-bottom: unset;
	}
}

.option-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 60px;
}

.icon {
	background-color: var(--clr-accent-900);
	margin-inline: auto;
	margin-block-start: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65px;
	height: 65px;
	border-radius: 16px;
}

.option-card h3 {
	max-width: 15ch;
	margin-inline: auto;
	margin-block: 3rem 1.5rem;
}

@media (min-width: 40em) {
	.option-cards {
		margin-block-start: 142px;
	}

	.icon,
	.option-card h3 {
		margin-inline: unset;
	}

	.icon {
		margin-block-start: 2.6rem;
	}

	.option-card h3 {
		margin-block-start: 2.5rem;
	}
}

@media (min-width: 60em) {
	.option-cards {
		margin-block-start: 168px;
	}
}

footer {
	margin-top: 6em;
	margin-bottom: 2.68em;
	text-align: center;
}

/* Buttons */

.btn {
	cursor: pointer;
	background-color: var(--clr-neutral-500);
	color: var(--clr-primary-900);
	font-weight: var(--fw-700);
	text-transform: uppercase;
	padding: 0.7em 0.875em;
	border-radius: 8px;
	transition: var(--transition);
	display: block;
}

.btn-accent {
	background-color: var(--clr-accent-900);
	color: var(--clr-neutral-100);
}

.btn:hover,
.btn:focus {
	background-color: var(--clr-primary-900);
	color: var(--clr-neutral-100);
}

.btn-accent:hover,
.btn-accent:focus {
	background-color: var(--clr-accent-500);
}

@media (min-width: 40em) {
	.btn {
		padding: 1em 1.6em;
	}
}

/* Utilities */

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

@media (max-width: 39.98em) {
	.align-center-mobile {
		text-align: center;
	}
}
